<form [formGroup]="fromData">
    <label>UserName :-</label>
    <input type="text" placeholder="Enter the Username" formControlName = 'username' [(ngModel)]="editTheUsername"><br>
    <span *ngIf="usernameValidation.touched && usernameValidation.errors?.['required']" style="color: red;">*Username Filed Is Required</span><br>
    
    <label>UserEmail :-</label>
    <input type="text" placeholder="Enter the Email" formControlName = 'email' [(ngModel)]="editTheEmail"><br>
    <span *ngIf="emailValidation.touched && emailValidation.errors?.['required']" style="color: red;">*Email filed Is Required</span>
    <span *ngIf="emailValidation.touched && emailValidation.errors?.['validEmail']" style="color: red;">*Enter the valid Email.</span><br>

    <label>Roles :-</label>
    <select formControlName = 'roles' [(ngModel)]="editTheRole">  
        <option value="User">User</option>
        <option value="Admin">Admin</option>
    </select><br><br>
    <button  (click)="submitData()" [disabled]="fromData.invalid" *ngIf="!isShow">Submitt</button>
    <button  (click)="EditData()" [disabled]="fromData.invalid" *ngIf="isShow">Updated</button>
</form>


<app-user-list (EditName)="updatedUser($event)" (EditEmail)="updatedEmail($event)" (EditRole)="updatedRole($event)"  (id)="newId($event)"></app-user-list>